.banner {
    padding-top: 242px;
    padding-bottom: 231px;
    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        background-color: #3E8AF5;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        top: 0;
        right: 40%;
        filter: blur(250px);
    }
    &::after{
        content: "";
        position: absolute;
        z-index: -1;
        background-color: #3E8AF5;
        width: 200px;
        height: 400px;
        // border-radius: 50%;
        top: 40%;
        right: 10%;
        filter: blur(200px);
    }
    &-content {
        h1 {
            background: linear-gradient(92deg, #FFF 12.92%, #A4A3AA 82.68%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 32px;
        }
        p{
            @include font-24;
            margin-bottom: 60px;
        }
        .btn1{
            padding: 23px 75px;
        }
        .btn{
            color: $white;
            svg{
                margin-left: 00px;
            }
        }
    }
    &-img{
        --width: 556px;
        width: var(--width);
        height: var(--width);
    }
}