.feature {
    margin-bottom: 218px;
    &-title {
        @include font-148;
        background: linear-gradient(92deg, #D2D2D7 27.5%, #A4A3AA 87.08%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 84px;
    }

    &-cards {
        &::before {
            content:  "";
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 1px;
            background-color: #29334A;
            top: -77px;
            left: 45.5%;
            // transform: translateX(-50%);

        }
        .feature-left {
            width: 440px;
            height: 100%;
            padding-left: 60px;
           
        
            .card-title {
                span {
                    font-size: 177px;
                    line-height: 110%;
                    background: linear-gradient(181deg, #FFF 15.23%, rgba(5, 6, 16, 0.00) 83.82%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            p{
                @include font-20;
                margin-bottom: 56px;
            }

        }
    }
}
.card2{
  margin-bottom: 56px;
  border-bottom: 1px solid #3E4962;
}
.card3 , .card2{
    width: 680px;
    height: 400px;
    padding-left: 60px;
    gap: 32px;
    .card-title {
        span {
            font-size: 177px;
            line-height: 110%;
            background: linear-gradient(181deg, #FFF 15.23%, rgba(5, 6, 16, 0.00) 83.82%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    p{
        @include font-20;
        margin-bottom: 56px;
    }

}