.header{
    position: absolute;
    width: 100%;
    &-nav{
        padding: 61px 0px;
        &-logo{
            width: 347px;
            height: 50px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .btn{
            color: $text;
        }
    }
}